src/main/mule/common-sfdc-calls.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="bde53ff4-176c-4930-95bb-a4a61a7327eb" >
		<salesforce:basic-connection username="firstpoc@relanto.sfsandbox" password="mulepoc2025" securityToken="32RCLlRLJn3csW7NH8yAQgR4M" url="https://login.salesforce.com/services/Soap/u/60" />
	</salesforce:sfdc-config>
	<flow name="common-sfdc-callsFlow" doc:id="6f411032-1ad4-4e41-95c0-aef7118dc4ee" >
		<salesforce:query doc:name="Query" doc:id="754f4a5e-4eed-44cd-83d4-e4337a7d0c44" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Id, account_name__c from opportunities__c where id__c = :id]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : vars.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="a65262f6-c5bf-4a44-a93d-c7158e87d6ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c4255b84-9f33-4ff5-858f-fb67e627412d" message="#[payload]"/>
	</flow>
</mule>
